body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main p {
  font-size: 1.2rem;
  line-height: 1.3;
}

.card {
  width: 50ch;
  /* width: min(100vw - 2rem, 50ch); */
  margin: 1rem;
  border: 2px solid black;
  padding: 1rem;
}

.card p {
  padding: 1rem;
  background-color: pink;
}