body {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Hide text from visual browsers. */

.hide {
  display: none;
}


/*
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
*/

.main p {
  font-size: 1.5rem;
  line-height: 1.3;
}

.card {
  width: min(100vw - 2rem, 50ch);
  margin: 1rem;
  border: 2px solid black;
  padding: 2rem;
}

.cta {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 130%;
  text-align: end;
}