body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 5rem auto 5rem;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.featured {
  grid-column: 1/3;
  grid-row: 2/-1;
}

.featured img {
  height: 100%;
  object-fit: cover;
}

.main {
  grid-column: 2/-1;
  grid-row: 3/4;
  padding: 0 2rem;
  background-color: hsla(0, 0%, 100%, .5)
}
