body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.page-title {
  text-align: center;
}

.main {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 2rem 4rem;
  text-align: center;
  background: hsl(208, 96%, 63%);
}

.box {
  --color-h: 258;
  --color-s: 96%;
  --color-l: 63;

  /* 
  --color-base: hsl(var(--color-h), var(--color-s), calc(var(--color-l) * 1%));
  --color-light: hsl(var(--color-h), var(--color-s), calc((var(--color-l) + 20) * 1%));
  --color-dark: hsl(var(--color-h), var(--color-s), calc((var(--color-l) - 20) * 1%)); 
  */

  /* 
  background: linear-gradient(
    90deg, 
    var(--color-light) 0%, 
    var(--color-base) 50%,
    var(--color-dark) 100%
  ); 
  */
}